<head>

  <!-- <title>{{ .Title }} | {{ $.Site.Title }}</title> -->
  <title>{{ if (not (eq .Title $.Site.Title)) }}{{ .Title }} | {{ end }}{{ $.Site.Title }}</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163132311-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-163132311-1');
  </script>

  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
  {{ end }}

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">

  {{ if eq .Section "blog" }}
  <link type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  {{ else }}
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">
  {{ end }}

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
	<!-- <link rel="manifest" href="/manifest.json"> -->
	<!-- <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400"> -->
	<!-- <meta name="theme-color" content="#fff"> -->

	<!-- Open Graph -->
	<meta property="og:type" content="website">
	<!-- <meta property="og:title" content="COVID-19 National Scientist Volunteer Database"> -->
	<meta property="og:title" content="{{ if (not (eq .Title $.Site.Title)) }}{{ .Title }} | {{ end }}{{ $.Site.Title }}">
  {{ if isset .Params "description" }}
  <meta property="og:description"  content="{{ .Params.description }}">
  {{ else }}
  <meta property="og:description"  content="We have curated a database of scientists from all 50 states, DC, Puerto Rico, and Guam who are eager to volunteer our time, expertise, equipment, and consumables to help YOU respond to the COVID-19 crisis.">
  {{ end }}
  <!-- <meta property="og:url" content="{{ .Permalink }}"> -->
  {{ if isset .Params "image"}}
  <meta property="og:image" content="https://covid19sci.org/img/{{ .Params.image }}">
  {{ else }}
  <meta property="og:image" content="https://covid19sci.org/img/sharing.png">
  {{ end }}
	<meta name="twitter:card" content="summary">
	
  {{ if .IsHome }}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {{ end }}
</head>
