<!-- <nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-primary divider-grey white relative"> -->
  <nav class="justify-between bg-primary divider-grey white relative shadow relative pt2 pl2">
    
    <!-- Logo -->
    <div>
      <a href="/" class="f4 f3-ns no-underline db">
      <!-- <a href="/" class="pa3 db mr4 h-100 w3 flex-none"> -->
	<!-- <img src="/img/logo.svg" alt="Logo" class="br0 db mb0 w-100"/> -->
	COVID-19 National Scientist Volunteer Database
      </a>
    </div>
      
    <!-- Primary Nav -->
    <ul id="menu" class="bg-primary static-ns absolute db left--100 w-50 w-auto-ns">
      <li class="db dib-ns">
	<a href="/join" class="ph3-l pa2 no-underline dim db tc-ns">Join us</a>
      </li>
      
      <li class="db dib-ns">
	<a href="/public-db" class="ph3-l pa2 no-underline dim db tc-ns">Database</a>
      </li>
      
      <li class="db dib-ns">
	<a href="/access" class="ph3-l pa2 no-underline dim db tc-ns">Access</a>
      </li>
      
      <li class="db dib-ns">
	<a href="/groups" class="ph3-l pa2 no-underline dim db tc-ns">Groups</a>
      </li>
      
      <li class="db dib-ns">
	<a href="/successes" class="ph3-l pa2 no-underline dim db tc-ns">Successes</a>
      </li>
      
      <li class="db dib-ns">
	<a href="/team" class="ph3-l pa2 no-underline dim db tc-ns">Team</a>
      </li>
      
      <li class="db dib-ns">
	<a href="/resources" class="ph3-l pa2 no-underline dim db tc-ns">Resources</a>
      </li>
      
      <li class="db dib-ns">
	<a href="/faq" class="ph3-l pa2 no-underline dim db tc-ns">FAQ</a>
      </li>
      
      <li class="db dib-ns">
	<a href="/contact" class="ph3-l pa2 no-underline dim db tc-ns">Contact</a>
      </li>
    </ul>

    <div class="w-100 tr">
      <a href="#" id="menuBtn" class="pa2 dn-ns white no-underline dim f5 f4-ns bn">menu</a>
    </div>
    
  </nav>
  
