<!-- <nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-primary divider-grey white relative"> -->
  <nav class="overflow-x-scroll overflow-x-visible-ns justify-between items-center center bg-primary divider-grey white relative pt2">
    
    <!-- Logo -->
    <a href="/" class="pa3 w3 flex-none f3 no-underline">
      <!-- <a href="/" class="pa3 db mr4 h-100 w3 flex-none"> -->
	<!-- <img src="/img/logo.svg" alt="Logo" class="br0 db mb0 w-100"/> -->
	COVID-19 National Scientist Volunteer Database
      </a>
      
      <!-- Primary Nav -->
      <ul id="menu" class="flex">
	<li><a href="/about" class="ph3 pv2 no-underline db">About</a></li>
	
	<li><a href="/join" class="ph3 pv2 no-underline db">Join us</a></li>
	
	<li><a href="/public-db" class="ph3 pv2 no-underline db">Database</a></li>
	
	<li><a href="/access" class="ph3 pv2 no-underline db">Access</a></li>
	
	<li><a href="/groups" class="ph3 pv2 no-underline db">Community groups</a></li>
	
	<li><a href="/successes" class="ph3 pv2 no-underline db">Successes</a></li>
	
	<li><a href="/team" class="ph3 pv2 no-underline db">Team</a></li>
	
	<li><a href="/contact" class="ph3 pv2 no-underline db">Contact</a></li>
	
	<!-- <a href="#" id="menuBtn" class="pa2 dn-ns white no-underline dim f5 f4-ns">menu</a> -->
      </ul>
      
  </nav>
  
