<!-- <nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-primary divider-grey white relative"> -->
  <nav class="justify-between bg-primary divider-grey white relative shadow relative">
    
    <!-- Logo -->
    <a href="/" class="f4 f3-ns no-underline">
      <div class="pt2 ph3-l ph2 db">
	<img id="logo" class="v-mid mr1 mr2-ns" src="/img/logo.png" />
	<div class="di v-mid">COVID-19 National Scientist Volunteer Database</div>
      </div>
    </a>
      
    <!-- Primary Nav -->
      <ul id="menu" class="bg-primary static-ns absolute db left--100">
      <li class="db dib-ns">
	<a href="/" class="ph3-l pa2 no-underline dim db tc-ns">Home</a>
      </li>
      
      <li class="db dib-ns">
	<a href="/join" class="ph3-l pa2 no-underline dim db tc-ns">Sign Up</a>
      </li>
      
      <li class="db dib-ns">
	<a href="/public-db" class="ph3-l pa2 no-underline dim db tc-ns">Database</a>
      </li>
      
      <li class="db dib-ns">
	<a href="/access" class="ph3-l pa2 no-underline dim db tc-ns">Access</a>
      </li>
      
      <li class="db dib-ns">
	<a href="/groups" class="ph3-l pa2 no-underline dim db tc-ns">Groups</a>
      </li>
      
      <li class="db dib-ns">
	<a href="/successes" class="ph3-l pa2 no-underline dim db tc-ns">Successes</a>
      </li>
      
      <li class="db dib-ns">
	<a href="/team" class="ph3-l pa2 no-underline dim db tc-ns">Team</a>
      </li>
      
      <li class="db dib-ns">
	<a href="/resources" class="ph3-l pa2 no-underline dim db tc-ns">Resources</a>
      </li>
      
      <li class="db dib-ns dropdown">
	<a href="/faq" class="ph3-l pa2 no-underline dim db tc-ns">
	  FAQ<span class="dropdown-arrow dn di-ns"> &#x25BE;</span></a>
	<div class="bg-primary dropdown-content">
	  <a class="pa2 pl3 pl2-ns ph3-l no-underline dim db" href="/terms-of-use">Terms of Use</a>
	  <a class="pa2 pl3 pl2-ns ph3-l no-underline dim db" href="/approval-process">Approval Process</a>
	</div>
      </li>
      
      <li class="db dib-ns">
	<a href="/contact" class="ph3-l pa2 no-underline dim db tc-ns">Contact</a>
      </li>
    </ul>

    <div class="w-100 tr">
      <a href="#" id="menuBtn" class="pa2 dn-ns white no-underline dim f5 f4-ns bn">menu</a>
    </div>
    
  </nav>
  
