<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body class="sans-serif" style="min-height: 100vh">

    {{ block "header" . }}
      {{ if ne .Section "blog" }}
        {{ partial "nav" . }}
      {{ end }}
    {{end}}

    {{ block "main" . }}{{ end }}

    {{ if ne .Params.title "Contact Us" }}
      {{ if ne .Section "blog" }}
        {{ partial "footer" . }}
      {{ end }}
    {{ end }}

    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
    {{ end }}
  </body>
</html>
