/*! TACHYONS v4.5.5 | http://tachyons.io */

/*
 *
 *      ________            ______
 *      ___  __/_____ _________  /______  ______________________
 *      __  /  _  __ `/  ___/_  __ \_  / / /  __ \_  __ \_  ___/
 *      _  /   / /_/ // /__ _  / / /  /_/ // /_/ /  / / /(__  )
 *      /_/    \__,_/ \___/ /_/ /_/_\__, / \____//_/ /_//____/
 *                                 /____/
 *
 *    TABLE OF CONTENTS
 *
 *    1. External Library Includes
 *       - Reset.css | http://meyerweb.com/eric/tools/css/reset/
 *    2. Tachyons Modules
 *    3. Variables
 *       - Media Queries
 *       - Colors
 *    4. Debugging
 *       - Debug all
 *       - Debug children
 *
 */


/* External Library Includes */
@import './imports/_reset';

/* Modules */
@import './imports/_box-sizing';
@import './imports/_images';
@import './imports/_background-size';
@import './imports/_background-position';
@import './imports/_outlines';
@import './imports/_borders';
@import './imports/_border-radius';
@import './imports/_border-style';
@import './imports/_border-widths';
@import './imports/_border-colors';
@import './imports/_code';
@import './imports/_coordinates';
@import './imports/_clears';
@import './imports/_display';
@import './imports/_flexbox';
@import './imports/_floats';
@import './imports/_font-style';
@import './imports/_font-weight';
@import './imports/_forms';
@import './imports/_heights';
@import './imports/_line-height';
@import './imports/_links';
@import './imports/_lists';
@import './imports/_max-widths';
@import './imports/_widths';
@import './imports/_overflow';
@import './imports/_position';
@import './imports/_opacity';
@import './imports/_spacing';
@import './imports/_text-decoration';
@import './imports/_text-align';
@import './imports/_text-transform';
@import './imports/_type-scale';
@import './imports/_typography';
@import './imports/_utilities';
@import './imports/_visibility';
@import './imports/_white-space';
@import './imports/_vertical-align';
@import './imports/_states';
@import './imports/_z-index';
@import './imports/_styles';
@import './imports/_buttons';
@import './imports/_svg';
@import './imports/_cms';

/* Variables */
/* Importing here will allow you to override any variables in the modules */
@import './imports/_colors';
@import './imports/_media-queries';
@import './imports/_variables';

/* Debugging */
@import './imports/_debug-children';
@import './imports/_debug-grid';

/* Uncomment out the line below to help debug layout issues */
/*@import './imports/_debug';*/

/* Below is custom -DM */

body {
    background-color: white;  /* Override off-white from somewhere. */
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}
@media (--breakpoint-not-small) {
    h1 { font-size: 2.25rem; }		/* Same as f2 */
}

h2 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}
@media (--breakpoint-not-small) {
    h2 { font-size: 1.5rem; }		/* Same as f3 */
}

h3 {
    margin-top: 10px;
    font-size: 1.25rem;;		  /* Same as f4 */
    font-weight: var(--bold-font-weight); /* Same as b */
}

h4 {
    font-weight: var(--bold-font-weight); /* Same as b */
}

@import './imports/_hovers';

.shadow {
    box-shadow: 0 1px 10px #999;
}

.left-0 {
    left: 0;
}

.left--100 {
    left: -100%;
}

#menu {
    transition: 0.2s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

iframe {
    max-width: 100%;
}

ol, ul {
    margin-top: 10px;		/* Overriding _reset.css. */
    margin-bottom: 10px;
}

#team ul {
    list-style: none;
    padding: 0;
}

#logo {
    width: 25px;
}
@media (--breakpoint-medium) {
    #logo { width: 40px; }
}
@media (--breakpoint-large) {
    #logo { width: 50px; }
}

.dropdown-content {
    /* width: inherit; */
    /* box-shadow: 0px 1px 10px gray, -10px 1px 10px gray, 10px 1px 10px gray; */
}

@media (--breakpoint-medium) {
    .dropdown-content {
	display: none;
	position: absolute;
    }
    .dropdown:hover .dropdown-content {
	display: block;
    }
}

/* .map { */
    /* border: 1px solid #dddddd; */
    /* border-radius: 3px; */
    /* margin-left: -10px; */
    /* margin-right: -10px; */
    /* width: calc(100% + 20px); */
/* } */

/*************/
/* Home page */
/*************/

.home-page-button {
    text-decoration: none !important;
}

.home-page-button div {
    background-color: #666666;
    color: white;
    border-radius: 0.2rem;
    box-shadow: 0 2px 8px #bbb;
    width: 300px;
    max-width: 100%;
}

.card-section {
    background-color: #f4f4f4;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 980px;
}

.card {
    flex: 0 0 300px;
    background-color: white;
    border-radius: 0.5rem;
    margin: 10px;
    box-shadow: 0 1px 5px #bbb;
    border-top: 3px solid var(--primary);
    font-size: 20px;
}
/* @media (--breakpoint-medium) { */
/*     min-height: 300px; */
/* } */

.card p {
    margin-bottom: 10px;
}


.more {
    text-align: right;
    color: #888;
    vertical-align: bottom;
}

.more-arrow {
    font-size: 24px;
    font-weight: bold;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.partner {
    flex: 0 0 300px;
    margin: 20px;
    text-align: center;
}

.partner img {
    max-height: 200px;
}

/*************/
/* Team page */
/*************/

#team {
    background-color: #f4f4f4;
}

.grid {
    margin: 0 auto;
}

.team-card {
    /* flex: 0 0 400px; */
    width: 400px;
    max-width: 100%;
    background-color: white;
    border-radius: 0.5rem;
    /* margin: 10px; */
    margin-bottom: 20px;
    box-shadow: 0 1px 5px #bbb;
    font-size: 16px;
}

.team-card-no-pic {
    border-top: 3px solid var(--primary);
}

.team-card img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    height: auto;
}

/**********/
/* Footer */
/**********/

hr {
    color: #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
}

.email-button {
    /* display: inline-block; */
    background-color: #aaa;
    color: white;
    border-radius: 3px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    vertical-align: top;
    margin-top: 1px;
    margin-left: 15px;
    font-size: 13px;
    line-height: 22px;
    height: 22px;
}

#twitter-widget-1 {
    vertical-align: top;
    margin-top: 0px;
}

/********/
/* Blog */
/********/

.blog {
    font-family: poppins;
    font-size: 18px;
    /* background-color: #f4f4f4; */
}

.blog-nav {
    color: #555;
    font-size: 24px;
    margin-right: 20px;
}

.blog-content {
    max-width: 900px;
}

.blog-logo {
    width: 30px;
}
@media (--breakpoint-medium) {
    .blog-logo {
        width: 35px;
   }
}

.blog-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blog-card {
    /* width: 400px; */
    flex: 0 1 350px;
    max-width: 100%;
    /* background-color: #f4f4f4; */
    border-radius: 0.5rem;
    /* margin-bottom: 20px; */
    box-shadow: 0 1px 5px #bbb;    
    border-top: 3px solid var(--primary);
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.75rem;
}

.blog-card h3 {
    font-size: 1.1rem;
}

.blog-card img {
    border-radius: 2px;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

nav a, .card a {
    color: inherit;
}
nav a:hover, .card a:hover {
    text-decoration: none;
}

.blog-image {
    max-height: 500px;
}

.blog-profile {
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog-profile img {
    width: 250px;
    height: 250px;    
    object-fit: cover;
    margin-right: 20px;
    text-align: center;
}

.blog-profile p {
    margin-bottom: 0px;
}

@media (--breakpoint-medium) {
    .blog-profile {
        display: flex;
   }
}

/*********/
/* Other */
/*********/

.grey-section {
    background-color: #f4f4f4;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
