{{ define "main" }}

<div class="mw7 center ph3 pt3">

  {{ .Content }}

</div>

<section class="card-section pa3">

  <h1 class="tc">Scientists in Action</h1>

  <div class="cards center">
  
    <article class="card pt2 ph3">
      <a href="/team" class="no-underline">
	<h3>Meet the Team</h3>
	<div>
	  <img src="/img/group_photo.jpg">
	  <p class="more">more <span class="more-arrow">&#x203A;</span></p>
	</div>
      </a>
    </article>
    
  <!-- <a href="/blog" class="no-underline"> -->
  <!--   <article class="card pv2 ph3"> -->
  <!--     <h3>Accomplishments</h3> -->
  <!--     <div> -->
  <!-- 	<p> -->
  <!-- 	  text text fslj flksd jfklsdj flksdjflksdjf lksdj fklsd jflksdj fklsdj flksd jf -->
  <!-- 	</p> -->
  <!--     </div> -->
  <!--   </article> -->
  <!-- </a> -->
  
    <article class="card pt2 ph3">
      <a href="/groups" class="no-underline">
	<h3>Local Groups</h3>
	<div>
	  <p>
	    A list of locally organized scientist volunteer groups,
	    plus a guide for team building.
	  </p>
	  <p class="more">more <span class="more-arrow">&#x203A;</span></p>
	</div>
      </a>
    </article>
    
    <article class="card pt2 ph3">
      <a href="/resources" class="no-underline">
	<h3>External Resources</h3>
	<div>
	  <p>
	    External initiatives, fact pages, and mental health
	    resources.
	  </p>
	  <p class="more">more <span class="more-arrow">&#x203A;</span></p>
	</div>
      </a>
    </article>
    
    <article class="card pt2 ph3">
      <a href="/who-has-access" class="no-underline">
	<h3>Who Has Access</h3>
	<div>
	  <p>
	    Lists of organizations who have been granted access to the
	    database.
	  </p>
	  <p class="more">more <span class="more-arrow">&#x203A;</span></p>
	</div>
      </a>
    </article>
    
    <article class="card pt2 ph3">
      <a href="/in-the-news" class="no-underline">
	<h3>In the News</h3>
	<div>
	  <img src="/img/AP_screenshot.png">
	  <p class="more">more <span class="more-arrow">&#x203A;</span></p>
	</div>
      </a>
    </article>
    
  </div>
  
</section>

{{ end }}
