{{ define "main" }}

<div class="mw7 center ph3 pt3">

  <div class="mt2 mb3 tc">
    <a class="home-page-button" href="/request-volunteers">
      <div class="dib pv2 mv1 mh2-ns tc b raise">Need Volunteers?</div>
    </a>
    <a class="home-page-button" href="/join">
      <div class="dib pv2 mv1 mh2-ns tc b raise">Become a Volunteer</div>
    </a>
    <a class="home-page-button" href="/COVID-19_NSVD_AdviseAssist_prog.pdf">
      <div class="dib pv2 mv1 mh2-ns tc b raise">Need Expert Advice?</div>
    </a>
  </div>

  {{ .Content }}

</div>

<section class="card-section pa3">

  <h1 class="tc">Scientists in Action</h1>

  <div class="cards center">

    <article class="card pt2 ph3 raise">
      <a href="/team" class="no-underline">
        <h3>Meet the Team</h3>
        <div>
          <img src="/img/group_photo.jpg">
          <p class="more">more <span class="more-arrow">&#x203A;</span></p>
        </div>
      </a>
    </article>

    <article class="card pt2 ph3 raise">
      <a href="/blog" class="no-underline">
        <h3>Diary of a Database</h3>
        <div>
          <p>
            The official blog of the COVID-19 National Scientist Volunteer Database that covers what we offer, what we
            have accomplished, and who we are.
          </p>
          <p class="more">more <span class="more-arrow">&#x203A;</span></p>
        </div>
      </a>
    </article>

    <article class="card pt2 ph3 raise">
      <a href="/access-and-opportunities" class="no-underline">
        <h3>Access and Opportunities</h3>
        <div>
          <p>
            Looking for ways to get involved? Tired of waiting for us to contact YOU? Want to know who has access to the
            database?<br>
            All these answers and more can be found here.
          </p>
          <p class="more">more <span class="more-arrow">&#x203A;</span></p>
        </div>
      </a>
    </article>

    <article class="card pt2 ph3 raise">
      <a href="/groups" class="no-underline">
        <h3>Local Groups</h3>
        <div>
          <p>
            A list of locally organized scientist volunteer groups,
            plus a guide for team building.
          </p>
          <p class="more">more <span class="more-arrow">&#x203A;</span></p>
        </div>
      </a>
    </article>

    <article class="card pt2 ph3 raise">
      <a href="/resources" class="no-underline">
        <h3>External Resources</h3>
        <div>
          <p>
            External initiatives, fact pages, and mental health
            resources.
          </p>
          <p class="more">more <span class="more-arrow">&#x203A;</span></p>
        </div>
      </a>
    </article>

    <article class="card pt2 ph3 raise">
      <a href="/in-the-news" class="no-underline">
        <h3>In the News</h3>
        <div>
          <img src="/img/AP_screenshot.png">
          <p class="more">more <span class="more-arrow">&#x203A;</span></p>
        </div>
      </a>
    </article>

  </div>

</section>

<h2 class="tc mt3">Partner Organizations</h2>

<div class="partners">
  <div class="partner">
    <a href="https://www.endcoronavirus.org/">
      <img src="/img/partners/ecv logo.jpg">
    </a>
  </div>
  <div class="partner">
    <a href="https://get-tested-covid19.org/">
      <img src="/img/partners/GetTested logo.png">
    </a>
  </div>
  <div class="partner">
    <a href="https://nsrnhealth.org/">
      <img src="/img/partners/NSRN_logo.png">
    </a>
  </div>
  <div class="partner">
    <a href="https://www.sciencedemandsaction.org/btrrt">
      <img src="/img/partners/BTRRT-logo.png">
    </a>
  </div>
  <div class="partner">
    <a href="https://researchaidnetworks.org/">
      <img src="/img/partners/Research-Aid Networks.jpg">
    </a>
  </div>
  <div class="partner">
    <a href="https://c19.ai/">
      <img src="/img/partners/c19logo.png">
    </a>
  </div>
</div>

<!-- <div class="mw6 center">
  <a class="twitter-timeline" data-height="1200" data-dnt="true"
    href="https://twitter.com/COVID19_NSVD?ref_src=twsrc%5Etfw">Tweets by COVID19_NSVD</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div> -->

{{ end }}